@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600;700&family=Source+Sans+3:wght@400;600;700&display=swap');

:root {
  --title-color: hsla(226, 76%, 23%, 1);
  --body-color: hsla(224, 13%, 30%, 1);
  --container-color: hsla(0, 0%, 97%, 1);
  --button-color: hsla(355, 75%, 55%, 1);


  --title-font: 'Source Sans 3', sans-serif;
  --subtitle-font: 'Poppins', sans-serif;
  --body-font: 'Open Sans', sans-serif;


}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;

}


.button{
 
  background-color: var(--button-color);
  color: #FFF;
 
}

h1{
  
}
